.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 48px 0 48px;
  width: 100%;
}

.footer__content {
  width: 880px;
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .footer__content {
    width: 282px;
  }
}

@media screen and (min-width: 581px) and (max-width: 879px) {
  .footer__content {
    width: 581px;
  }
}
