.header {
  margin-top: 45px;
  display: flex;
  align-items: start;
  width: 880px;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__image {
  justify-content: start;
}

.header__line {
  width: 100%;
  height: 1px;
  background-color: rgba(84, 84, 84, 0.5);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 100%;
  }

  .header__image {
    margin-left: 27px;
    width: 126px;
    height: 24px;
  }
}
