.header {
  margin-top: 45px;
  display: flex;
  align-items: start;
  width: 880px;
  height: 74px;
}

.header__image {
  justify-content: start;
}

.header__line {
  width: 100%;
  height: 1px;
  background-color: rgba(84, 84, 84, 0.5);
}

@media screen and (min-width: 598px) and (max-width: 879px) {
  .header {
    width: 581px;
  }
}

@media screen and (min-width: 320px) and (max-width: 597px) {
  .header {
    width: 320px;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
