@media screen and (min-width: 320px) and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    text-wrap: nowrap;
    font-size: 22px;
    line-height: 26.5px;
    margin-top: 10px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 45px 0 0;
    width: 100%;
  }

  .header__image {
    width: 100%;
    max-width: 320px;
  }
}

@media screen and (min-width: 481px) and (max-width: 775px) {
  .profile {
    flex-direction: row;
    margin: 0 0 0 30px;
  }

  .profile__description {
    width: 100%;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
  }

  .profile__edit-button {
    margin: 0;
  }

  .header__image {
    width: 100%;
  }
}
