.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 200px) and (max-width: 880px) {
  .page__section {
    max-width: 90%;
  }
}
