.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  padding: 0 19px 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.popup__content {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  top: 50px;
  right: auto;
  left: auto;
  bottom: 0;
}

.popup__image {
  position: relative;
  max-height: 540px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
  top: auto;
}

.popup__caption {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 10px 0 0;
  width: 100%;
  height: 12px;
}

.popup__image_close-button {
  border: none;
  background: transparent url("../images/close__icon.svg") center no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  position: relative;
  left: 50px;
}

.popup__image_close-button:hover {
  opacity: 60%;
}
