.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
  position: relative;
}

.profile__title {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 400px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit_button2.svg) center no-repeat;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 10px auto 0;
  border: 1px solid white;
  grid-area: button;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/yeah.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0 auto;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.5px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 14px;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 5px 0 0 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 880px) {
  .profile__title {
    max-width: 300px;
    font-size: 32px;
    line-height: 37px;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 300px) auto;
  }

  .profile__description {
    width: 100%;
  }

  .profile__add-button {
    margin: 0 0 0 auto;
    width: 150px;
  }

  .profile__edit-button {
    margin-right: 5px;
  }
}
